@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// $main-color: #00474b;
// $secondary-color: #26c2ad;
// $hover-color: #9fe8df;
// $input-colors: #f3f8fb;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace, 'Arial', 'sans-serif';
}

// @mixin hover {
//     color: $main-color;
//     background-color: $hover-color;
//     transition: 0.3s;
// }