@import url(/assets/css/imports/imports.css);;

$main-color: #00474b;
$secondary-color: #26c2ad;
$hover-color: #9fe8df;
$input-colors: #f3f8fb;

@mixin hover {
    color: $main-color;
    background-color: $hover-color;
    transition: 0.3s;
}

.main{
    min-height: 100vh;
    background: #c5e4e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container{
        max-width: 920px;

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px;
        }

        .container-tips{
            background-color: #fff;
            padding: 30px;
            border-radius: 25px;
            
            .calculator-tips{
                display: flex;
    
                .calculator--inputs{
                    max-width: 400px;
                    padding:  20px 0;
                    margin-right: 30px;
    
                    .label-inputs{
                        padding: 0 10px;
                        margin-bottom: 50px;
    
                        .validates{
                            display: flex;
                            justify-content: space-between;
                            color: #748484;
                            font-weight: bold;
                            margin-bottom: 10px;

                            .error{
                                display: none;
                                color: #c4897b;
                            }
                        }

                        .validates.select-tips{
                            margin-bottom: 20px;
                        }
    
                        .input-box{
    
                            input{
                                border: 0;
                                outline: 2px solid $input-colors;
                                border-radius: 5px;
                                padding: 15px;
                                height: 50px;
                                text-align: end;
                                background-color: $input-colors !important;
                                color: $main-color;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                font-size: 32px;
                                font-weight: bold;
                            }
    
                            input:focus{
                                outline: 2px solid $secondary-color;
                            }
    
                            #bill{
                                background: url(/assets/images/icon-dollar.svg) no-repeat left;
                            }
    
                            #number-peoples{
                                background: url(/assets/images/icon-person.svg) no-repeat left;
                            }
    
                            ::placeholder{
                                text-align: end;
                                color: #a3b7b6;
                            }
                        }
    
                        .tips-input{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
    
                            input{
                                width: 118px;
                                margin-bottom: 15px;
                                color: #fff;
                                font-weight: bold;
                                padding: 7px;
                                border-radius: 5px;
                                font-size: 20px;
                            }
    
                            input[type="button"]{
                                cursor: pointer;
                                background-color: $main-color;
                                border: 0;
                            }

                            input[type="number"]{
                                color: $main-color;
                                text-align: center;
                                background-color: $input-colors;
                                border: 0;
                                outline: 2px solid $input-colors;
                            }

                            input[type="number"]:focus{
                                outline: 2px solid $secondary-color;
                            }

                            ::placeholder{
                                text-align: center;
                                color: #576f71;
                            }

                            input:nth-child(4), input:nth-child(5), input:nth-child(6){
                                margin-bottom: 0;
                            }

                            input[type='button']:hover{
                                @include hover;
                            }
                        }
                    }

                    .label-inputs:last-child{
                        margin-bottom: 0;
                    }
                }
    
                .calculator--outputs{
                    background: #00474b;
                    // max-width: 320px;
                    padding: 55px 40px 40px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .container-label-results{
                        
                        .label-result{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            // max-width: 330px;
                            margin-bottom: 20px;

                            .label-result-person{
                                margin-right: 80px;
                                color: #fff;
                                
                                h3{
                                    font-size: 16px;
                                }
                                p{
                                    font-size: 14px;
                                    color: #739a9f;
                                    font-weight: bold;
                                }
                            }

                            .result-value{
                                display: flex;
                                h1{
                                    font-size: 45px;
                                    color: $secondary-color;
                                }
                            }
                        }
                    }
    
                    .reset{
                        button{
                            padding: 10px;
                            width: 100%;
                            border-radius: 5px;
                            background-color: #0d686d;
                            border: 0;
                            cursor: pointer;
                            color: #045d63;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 20px;
                        }

                        button:hover{
                            background-color: $hover-color;
                            color: $main-color;
                            transition: 0.3s;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 590px){
    .calculator-tips{
        flex-direction: column;

        .calculator--inputs{
            margin-right: 0 !important;
            margin-bottom: 12px;

            .label-inputs{
                margin-bottom: 35px !important;
            }

            .label-inputs:last-child{
                margin-bottom: 0 !important;
            }
        }

        .calculator--outputs{
            padding: 40px 25px 25px !important;
        }
    }
}

@media (max-width: 470px){
    // .calculator-tips{
    //     flex-direction: column;
    // }
    .main{
        border-radius: 0 0 25px 25px;
    }

    .container{
        max-width: 100%;
    }

    .main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input{
        // width: 155px;
        // width: 38vw !important;
        width: 47%;
        margin-bottom: 15px !important;
    }

    .main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input:nth-child(5),
    .main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input:nth-child(6){
        margin-bottom: 0 !important;
    }
}