@import url(/assets/css/imports/imports.css);
.main {
  min-height: 100vh;
  background: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container {
  max-width: 920px;
}

.main .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.main .container .container-tips {
  background-color: #fff;
  padding: 30px;
  border-radius: 25px;
}

.main .container .container-tips .calculator-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .container-tips .calculator-tips .calculator--inputs {
  max-width: 400px;
  padding: 20px 0;
  margin-right: 30px;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs {
  padding: 0 10px;
  margin-bottom: 50px;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .validates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #748484;
  font-weight: bold;
  margin-bottom: 10px;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .validates .error {
  color: #c4897b;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .validates.select-tips {
  margin-bottom: 20px;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box input {
  border: 0;
  outline: 2px solid #f3f8fb;
  border-radius: 5px;
  padding: 15px;
  height: 50px;
  text-align: end;
  background-color: #f3f8fb !important;
  color: #00474b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box input:focus {
  outline: 2px solid #26c2ad;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box #bill {
  background: url(/assets/images/icon-dollar.svg) no-repeat left;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box #number-peoples {
  background: url(/assets/images/icon-person.svg) no-repeat left;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box ::-webkit-input-placeholder {
  text-align: end;
  color: #a3b7b6;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box :-ms-input-placeholder {
  text-align: end;
  color: #a3b7b6;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box ::-ms-input-placeholder {
  text-align: end;
  color: #a3b7b6;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .input-box ::placeholder {
  text-align: end;
  color: #a3b7b6;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input {
  width: 118px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input[type="button"] {
  cursor: pointer;
  background-color: #00474b;
  border: 0;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input[type="text"] {
  color: #00474b;
  text-align: center;
  background-color: #f3f8fb;
  border: 0;
  outline: 2px solid #f3f8fb;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input[type="text"]:focus {
  outline: 2px solid #26c2ad;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input ::-webkit-input-placeholder {
  text-align: center;
  color: #576f71;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input :-ms-input-placeholder {
  text-align: center;
  color: #576f71;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input ::-ms-input-placeholder {
  text-align: center;
  color: #576f71;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input ::placeholder {
  text-align: center;
  color: #576f71;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input:nth-child(4), .main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input:nth-child(5), .main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input:nth-child(6) {
  margin-bottom: 0;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs .tips-input input[type='button']:hover {
  color: #00474b;
  background-color: #9fe8df;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .container .container-tips .calculator-tips .calculator--inputs .label-inputs:last-child {
  margin-bottom: 0;
}

.main .container .container-tips .calculator-tips .calculator--outputs {
  background: #00474b;
  padding: 55px 40px 40px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result .label-result-person {
  margin-right: 80px;
  color: #fff;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result .label-result-person h3 {
  font-size: 16px;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result .label-result-person p {
  font-size: 14px;
  color: #739a9f;
  font-weight: bold;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result .result-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .container-tips .calculator-tips .calculator--outputs .container-label-results .label-result .result-value h1 {
  font-size: 45px;
  color: #26c2ad;
}

.main .container .container-tips .calculator-tips .calculator--outputs .reset button {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #26c2ad;
  border: 0;
  cursor: pointer;
  color: #00474b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.main .container .container-tips .calculator-tips .calculator--outputs .reset button:hover {
  background-color: #9fe8df;
  color: #00474b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */